fastapi
uvicorn
python-multipart
python-jose[cryptography]
passlib[bcrypt]
pydantic
pydantic-settings
sqlalchemy
aiosqlite
easyocr
opencv-python-headless
numpy
pandas
reportlab
scikit-learn
jinja2
pymupdf
python-dotenv
fuzzywuzzy
python-Levenshtein
scipy
